[Unit]
Description=Nebula Access Manager
# When systemd stops or restarts nebula.servers.service, the action is propagated to this unit
PartOf=nebula.core.extensions.service
# Start this unit after nebula.core.extensions.service starts
After=nebula.core.extensions.service
# Requires that core extensioms are available
Requires=nebula.core.extensions.service
# Requires that servers are also available
Requires=nebula.servers.service

[Service]
# User is root service user
User=root
# Run bash script for whitelist management
ExecStart=/opt/nebula/.venv/bin/python /opt/nebula/extensions/access/whitelist/pull_whitelists.py
# Restart if script fails
Restart=on-failure

[Install]
# This unit should start when nebula.core.extensions.service is starting
WantedBy=nebula.core.extensions.service