[Unit]
Description=Nebula Access Manager
# When systemd stops or restarts nebula.servers.service, the action is propagated to this unit
PartOf=nebula.servers.service
# Start this unit after nebula.servers.service starts
After=nebula.servers.service
# Requires that server service is available
Requires=nebula.servers.service

[Service]
# User is root service user
User=root
# Run bash script for whitelist management
ExecStart=/usr/bin/bash /opt/nebula/extensions/access/scripts/whitelist
# Restart if script fails
Restart=on-failure

[Install]
# This unit should start when nebula.servers.service is starting
WantedBy=nebula.servers.service